/** global element styling **/

@import 'https://fonts.googleapis.com/css?family=Lato:400,700';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eee;
  color: black;
  font-family: 'Lato', sans-serif;
  font-size: 10px;
}

button { 
  padding: 5px 20px;
  background-color:#f1c40f;
  border-radius: 2%;
  font-size: 1.4rem;
  font-weight: 900;
  cursor: pointer;
  border-style: none;


}

#hero input[type='email'] {
    width: 80vw;
    padding: 5px;
    font-size: 1.2rem;
    margin-bottom: 15px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
   
}
#hero{ 
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
   margin-bottom: 45px;

}

section { 
    width: 100%;
    margin-bottom: 35px;
}

h2{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 15px;
}

p {
     text-align: center;
     font-size: 1.5rem;
}
nav {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 10px;
    
}
img{
    width: 80vw;
    height: 100%;
    margin: 0 auto;
    margin-top: 20px;
}

.icon { 
    color: orange;
    display: none;
}

a{
    text-decoration: none;
    margin-right: 20px;
    color: black;
}

.card-container {
     display: flex;
     flex-direction: column;
     align-items: center;
     
}

.card {
    width: 70vw;
    text-align: center;
    border: 1px solid black;
    margin: 15px 0;
}
.card h3 {
    padding: 14px;
    font-size: 1.5rem;
    background-color: #DDDDDD;
    margin-bottom: 10px;
}

.card p {
    margin-bottom: 10px;
}


.card button {
    margin: 30px 0;
}